@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="Container text-center">
    <h1 class="text-center">Error</h1>
    <h2 class="text-center">An error occurred while processing your request.</h2>
    <p class="text-center">@Model.ErrorMessage</p>
</div>

